{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titleCruds">Ranglist</h1>

    <table class="manage-poi-list">
        <thead>
            <tr>

                <th>Username</th>
                <th>Timeupdated</th>
                <th>Points</th>

            </tr>
        </thead>
        <tbody>
        {% for rangList in rangLists %}
            <tr>

                <td>{{ rangList.username }}</td>
                <td>{% if rangList.timeUpdated %}{{ rangList.timeUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ rangList.points }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
