{% extends 'base.html.twig' %}

{% block body %}
    <div class="home_title">
        <p>Hi, {{ '%username%'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</p>
    </div>
{% endblock %}


